:root {
  --grad-main: linear-gradient(to left, rgb(6, 238, 252), rgb(61, 162, 254));
  --grad-mob: linear-gradient(to top, rgb(6, 238, 252), rgb(61, 162, 254));
  /* Colours */
  --col-primary: rgb(61, 162, 254);
  --col-white-primary: white;
  --col-grey: rgb(238, 238, 238);
  /* Text */
  --col-text-white: white; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

a::after,
a:visited {
  color: inherit; }

#button,
nav label {
  display: none; }

.navigation {
  padding-right: 13rem;
  background: var(--grad-main); }

.navigation ul {
  padding: 3rem;
  display: flex;
  flex-direction: row-reverse; }

.navigation__item {
  color: var(--col-text-white);
  list-style: none;
  text-transform: uppercase;
  font-size: 1.75rem;
  padding: 1rem; }

/* Advanced Checkbox Hack */
@media screen and (max-width: 44em) {
  .navigation {
    padding-right: 0; }
  @-webkit-keyframes bugfix {
    from {
      padding: 0; }
    to {
      padding: 0; } }
  input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  /* custom-dropdown */
  nav[role="custom-dropdown"] {
    position: relative;
    width: 100%; }
    nav[role="custom-dropdown"] a {
      color: white !important; }
    nav[role="custom-dropdown"] a,
    nav[role="custom-dropdown"] label {
      color: white;
      text-decoration: none;
      font: 1.4em sans-serif;
      transition: color 0.3s ease-in-out; }
    nav[role="custom-dropdown"] ul {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      list-style: none; }
      nav[role="custom-dropdown"] ul > li {
        float: left;
        padding: 0.55em 0.55em;
        width: 19%;
        background-color: var(--grad-main);
        text-align: center;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-property: box-shadow, color;
        box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35);
        cursor: pointer; }
        nav[role="custom-dropdown"] ul > li:hover {
          background-color: rgba(0, 0, 0, 0.85);
          color: #fff;
          box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3); }
          nav[role="custom-dropdown"] ul > li:hover > a {
            color: #fff; }
  /* small screens */
  html,
  body {
    margin: 0; }
  nav[role="custom-dropdown"] ul {
    display: none;
    height: 100%; }
  nav[role="custom-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: 0.45em;
    font-size: 2.5rem;
    margin: 0;
    background-color: var(--col-primary); }
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: 0.25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em; }
  nav[role="custom-dropdown"] input[type="checkbox"]:checked ~ label:after {
    color: #ccc; }
  nav[role="custom-dropdown"] input[type="checkbox"]:checked ~ ul {
    display: block;
    font-size: 1.2rem; }
    nav[role="custom-dropdown"] input[type="checkbox"]:checked ~ ul > li {
      width: 100%;
      opacity: 0.8;
      text-align: left; }
      nav[role="custom-dropdown"] input[type="checkbox"]:checked ~ ul > li:after {
        color: white;
        position: absolute;
        right: 0.25em;
        content: "\203A";
        font: bold 1.4em sans-serif; } }

/* HEADER STYLES */
.header {
  display: flex;
  align-items: center;
  color: var(--col-text-white);
  background: var(--grad-main);
  height: 100rem;
  padding-bottom: 45rem;
  margin-bottom: -45rem; }

.header__left {
  flex: 1;
  padding: 13rem; }

.header__text {
  font-size: 3rem;
  text-align: left;
  padding-bottom: 3rem; }

.header__right {
  flex: 1;
  padding: 10rem; }

.header__right img {
  width: 100%; }

@media (max-width: 480px) {
  .header {
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 50rem;
    background: var(--grad-mob); }
  .header__left {
    padding: 3rem; }
  .header__right {
    padding: 0; }
  .header__right,
  img {
    width: 100%;
    scale: 1.1; } }

/* CARD STYLES */
.cards {
  padding: 0 10rem; }

.cards__heading {
  color: var(--col-text-white);
  text-align: center;
  font-size: 5rem; }

.cards__container {
  padding: 3rem;
  display: flex;
  align-content: space-between; }

.card {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  background-color: var(--col-white-primary);
  border-radius: 10px;
  box-shadow: 0px 10px 13px -1px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 10px 13px -1px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 10px 13px -1px rgba(0, 0, 0, 0.22); }

.card__content {
  padding: 2rem;
  text-align: center; }

.card__header {
  color: var(--col-primary);
  font-size: 2.5rem; }

.card__sub-header {
  color: lightgray;
  font-size: 1.5rem; }

.card__price {
  font-size: 5rem; }

.card__pound-sign {
  font-size: 2rem;
  vertical-align: 2.5rem; }

.card__price-text {
  color: lightgray;
  font-size: 2rem;
  font-weight: 300; }

.card__button {
  padding: 1.5rem 3rem;
  border-radius: 100px;
  border: none;
  text-transform: uppercase; }

.card__info {
  padding: 3rem;
  line-height: 1.75;
  color: lightgray;
  font-size: 2rem;
  font-weight: 300; }

@media (max-width: 480px) {
  .cards {
    padding: 0 1rem;
    margin-top: 20rem; }
  .cards__heading {
    color: black;
    font-size: 4rem; }
  .cards__container {
    display: block; }
  .card {
    margin-top: 2rem; } }

/* FEATURES STYLES */
.features {
  padding: 3rem 10rem;
  display: grid;
  grid-template-columns: auto auto auto; }

.feature-box__row {
  display: flex;
  align-content: space-between; }

.feature-box {
  padding: 4rem;
  text-align: center; }

.feature-box__icon {
  margin: 3rem;
  /*  Icon Size */
  font-size: 7rem;
  /* Placing a gradient onto the background of the icon and clipping it through  */
  background-image: var(--grad-main);
  background-clip: text;
  color: transparent; }

.feature-box__heading {
  font-size: 2.5rem;
  margin-bottom: 1rem; }

.feature-box__text {
  font-weight: light;
  font-size: 1.5rem;
  color: lightgray; }

@media (max-width: 480px) {
  .features {
    display: block;
    padding: 0 2rem; }
  .feature-box {
    padding: 3rem; } }

/* CALL TO ACTION STYLES */
.cta {
  text-align: center;
  padding: 15rem 45rem;
  background-color: #272a3d;
  margin-top: 6rem; }

.cta__header {
  font-size: 3rem;
  color: var(--col-primary);
  margin-bottom: 2rem; }

.cta__text {
  color: var(--col-text-white);
  font-size: 1.5rem;
  margin-bottom: 4rem; }

@media (max-width: 480px) {
  .cta {
    padding: 3rem; } }

/* FOOTER STYLES */
.footer {
  background-color: var(--col-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem; }

.footer__left {
  margin-left: 10rem;
  color: gray; }

.footer__right {
  padding: 10rem;
  text-transform: uppercase; }

.footer__list {
  display: flex;
  list-style: none; }

.footer__item {
  padding: 1rem;
  transition: all 0.2s; }

.footer__item:hover {
  color: gray; }

@media (max-width: 480px) {
  .footer {
    padding: 3rem;
    display: block;
    font-size: 1rem; }
  .footer__right {
    padding: 0;
    margin: 0; }
  .footer__left {
    padding: 1rem;
    margin: 0; } }

/* BUTTONS */
.btn-primary {
  font-size: 1rem;
  position: relative;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 55px;
  width: 150px;
  opacity: 1;
  background-color: var(--col-white-primary);
  border: 1px solid rgba(0, 0, 0, 0.6); }

.btn-primary .btn-primaryspan {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #242632;
  font-weight: 500;
  letter-spacing: 0.7px; }

.btn-primary:hover {
  animation: btnrotate 0.7s ease-in-out both; }

.btn-primary:hover .btn-primaryspan {
  animation: btnstorm 0.7s ease-in-out both;
  animation-delay: 0.06s; }

@keyframes btnrotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0); }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0); }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0); }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0); }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0); } }

@keyframes btnstorm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0); }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0); }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0); }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0); }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0); } }

.btn-secondary-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.btn-secondary-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.btn-secondary-hover:focus {
  outline: none; }

.btn-secondary-hover {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  /* box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); */ }
