/* CARD STYLES */

.cards {
  padding: 0 10rem;
}

.cards__heading {
  color: var(--col-text-white);
  text-align: center;
  font-size: 5rem;
}

.cards__container {
  padding: 3rem;
  display: flex;
  align-content: space-between;
}

.card {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  background-color: var(--col-white-primary);
  border-radius: 10px;
  box-shadow: 0px 10px 13px -1px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 10px 13px -1px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 10px 13px -1px rgba(0, 0, 0, 0.22);
}

.card__content {
  padding: 2rem;
  text-align: center;
}

.card__header {
  color: var(--col-primary);
  font-size: 2.5rem;
}

.card__sub-header {
  color: lightgray;
  font-size: 1.5rem;
}

.card__price {
  font-size: 5rem;
}

.card__pound-sign {
  font-size: 2rem;
  vertical-align: 2.5rem;
}

.card__price-text {
  color: lightgray;
  font-size: 2rem;
  font-weight: 300;
}

.card__button {
  padding: 1.5rem 3rem;
  border-radius: 100px;
  border: none;
  text-transform: uppercase;
}

.card__info {
  padding: 3rem;
  line-height: 1.75;
  color: lightgray;
  font-size: 2rem;
  font-weight: 300;
}

@media (max-width: 480px) {
  .cards {
    padding: 0 1rem;
    margin-top: 20rem;
  }
  .cards__heading {
    color: black;
    font-size: 4rem;
  }
  .cards__container {
    display: block;
  }
  .card {
    margin-top: 2rem;
  }
}
