#button,
nav label {
  display: none;
}
.navigation {
  padding-right: 10rem;
  background: var(--grad-main);
}
.navigation ul {
  padding: 3rem;
  display: flex;
  flex-direction: row-reverse;
}
.navigation__item {
  color: var(--col-text-white);
  list-style: none;
  text-transform: uppercase;
  font-size: 1.75rem;
  padding: 1.5rem;
  transition: all 0.5s;
}

.navigation__item:hover {
  color: rgb(32, 203, 101);
  background-color: white;
  border-radius: 100px;
}
// Mobile nav
@import "./mob-navigation";
